@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    font: 22px 'Manrope', arial, sans-serif;
    padding: 20px;
    text-align: center;
    letter-spacing: 2px;
    color: #ffff;
    background-color: #930013;
}

p{
    padding: 6px;
    font-size: 16px;
    line-height: 1.4em;
}

h2{
    background-color: #930013;
    text-align: left;
    color:#ffff;
    width: 430px;
    height: 30px;
    font: bold 23px 'Manrope', Arial, sans-serif;
    padding: 4px;
    margin: 5px;
}


body{
    background-color: #ECE2D0;
    font:  16px 'Open Sans', Arial, sans-serif;
}

main{
    margin: 20px;
}

section{
    display: inline-block;
    padding: 13px;
    margin: 10px 40px;
    background-color: #ffff;
    border-radius: 10px;
    width: 910px;
    box-shadow: -2px 3px 12px -1px rgba(0, 0, 0, 0.472);
}


.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #FFFF;
    padding: 13px;
    width: 330px;
    height: 200px;
    margin: 30px 5px;
    border: solid 1px #930013;
    border-radius: 3px;
}



select{
    width: 145px;
    height: 28px;
    border-radius: 4px;
    font: 14px 'Inter', Arial, sans-serif; 
}
#button_check{
    width: 135px;
    height: 29px;
    font: 14px 'Inter', Arial, Helvetica, sans-serif;
    background-color: #930013;
    border: solid 1px rgba(0, 0, 0, 0.86);
    color: #FFFF;
    cursor: pointer;
    margin: 10px 5px;
    padding: 4px;
}
.resultado_receber , .resultado_doar{
    font: bold 16px 'Inter', Arial, sans-serif;
    padding: 10px; 
    letter-spacing: 1px;
}
li{
    padding: 9px;
    list-style-position: inside;
}
li::marker{ /*Altera a cor do marcador*/
    color: red;
}
